.add{
    width: 70%;
    /* text-align: center; */
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}
.labels{
    margin-left: 25%;
    font-style: italic;
    display: inline-block;
}
.inputs{
    /* margin-left:10%; */
    /* margin-top: 10px; */
    display: inline-block;
}
input{
    margin-top: 1rem;
    margin-left: 10%;
}
