
<app-header></app-header>

<!-- <div>
    <ul>
        <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/">Users</a></li>
        <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/users">Users</a></li>
        <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/users/1">User Details</a></li>
        <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/add-user">Add User</a></li>
        <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/update-user">Update User</a></li>
        <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/**">Error</a></li>
    </ul>
</div> -->

<router-outlet></router-outlet>